* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(243, 243, 243);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.instagram-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 60%;
  height: 100vh;
}

.instagramPhone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.instagramPhone img {
  width: 50rem;
}

.instagramLoginArea {
  display: flex;
  flex-direction: column;
  align-items: center; /*eixo contrario ao flex-direction*/
  justify-content: space-around; /*mesmo eixo que o flex-direction*/
  width: 40%;
  min-height: 36rem;
}

.group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffffff;
  width: 100%;
  padding: 1.3rem 0;
  border: 1px solid lightgray;
}

.group:nth-child(1) {
  min-height: 19rem;
}

.instagram-logo {
  height: 3rem;
}

.profilePhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

.profilePhoto img {
  height: 6rem;
}

.instagramLogin {
  background-color: #0095f6;
  color: #ffffffff;
  padding: 8px;
  border-radius: 4px;
}

.instagramLogout {
  color: #0095f6;
  margin-top: 1rem;
}

.notAccount {
  color: rgb(160, 160, 160);
}

.linkBlue {
  color: #0095f6;
}

.getApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.3rem 0;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

.buttonDownload {
  height: 3rem;
  width: 10rem;
  background-size: cover;
}

.buttonDownload:nth-child(1){
  background-image: url('./img/apple-button.png');
}

.buttonDownload:nth-child(2){
  background-image: url('./img/googleplay-button.png');
}

/* media queries */

@media (max-width: 1290px) {
  .buttons {
    flex-direction: column;
  }
  .buttonDownload {
    margin-bottom: 10px;
  }
}

@media (max-width: 1024px) {
  .instagram-wrapper {
    width: 90%;
  }
}

@media (max-width: 650px) {
  .instagram-wrapper {
    width: 90%;
  }

  .instagramPhone {
    display: none;
  }

  .instagramLoginArea {
    width: 100%;
  }
}
